---
import { getCollection } from 'astro:content';
import { format } from 'date-fns';
import { ArrowLeft } from 'lucide-astro';

import Avatar from '~/components/Avatar.astro';
import Footer from '~/components/Footer.astro';
import Head from '~/components/Head.astro';
import { SITE_TITLE } from '~/constants';
import Document from '~/layouts/Document.astro';
import { cn } from '~/utils/cn';
import { filterPosts } from '~/utils/content';

import '~/styles/markdown.css';

import type { CollectionEntry } from 'astro:content';

import type { LucideComponent } from '~/types/lucide';

export async function getStaticPaths() {
	const posts = await getCollection('posts', filterPosts({ archived: true }));

	return (
		posts
			// Sort by date
			.sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf())
			// Map to paths
			.map((props) => ({
				params: { slug: props.slug },
				props,
			}))
	);
}

export type Props = CollectionEntry<'posts'>;

const { render: renderPost, data: post, slug } = Astro.props;
const { Content } = await renderPost();

const Icon = (await import('lucide-astro').then(
	(res) => res[post.icon],
)) as LucideComponent;
---

<Head
	title={`${post.title} ─ ${SITE_TITLE}`}
	description={post.description}
	publishedAt={post.publishedAt.toISOString()}
	image={new URL(`/posts/${slug}/og.png`, Astro.site).href}
	type='article'
/>

<Document>	
	<main class="flex flex-col h-full mx-auto max-w-3xl px-4 sm:px-6 lg:px-8 pt-16 pb-8 space-y-8">
		<article class="space-y-8 z-10">
			<header class="space-y-8">
				<Icon class="w-10 h-10" />

				<h1 class='text-5xl font-extrabold text-black dark:text-white'>{post.title}</h1>

				<div class="w-full inline-flex items-center gap-8 text-gray-500 my-8 font-medium text-2xl">
					<time
						class='font-normal text-base text-gray-400 dark:text-gray-300'
						datetime={post.publishedAt.toISOString()}
						title={format(post.publishedAt, 'PPP')}
					>
						{format(post.publishedAt, 'dd-MM-yyyy')}
					</time>
					
					<hr class="border-2 border-gray-100 dark:border-gray-900 rounded-full grow" />

					<a class="h-12 w-12 rounded-full default-transition default-focus" href="/">
						<Avatar className="h-12 w-12" width={48} height={48} />
					</a>
				</div>
			</header>

			<section class={cn(
				"mx-auto max-w-4xl prose",
				"prose-a:text-primary-500 hover:prose-a:text-primary-600 dark:prose-a:text-primary-600 dark:hover:prose-a:text-primary-500 prose-a:rounded-sm",
				"prose-code:text-gray-600 dark:prose-code:text-gray-200",
				"prose-h1:font-bold",
				"prose-headings:text-black dark:prose-headings:text-white",
				"prose-hr:mb-8 prose-hr:border-2 prose-hr:border-gray-100 dark:prose-hr:border-gray-900 prose-hr:rounded-full",
				"prose-img:rounded-xl",
				"prose-kbd:uppercase prose-kbd:text-xs prose-kbd:text-gray-400 dark:prose-kbd:text-gray-200 prose-kbd:bg-gray-50 dark:prose-kbd:bg-gray-900 prose-kbd:rounded-md prose-kbd:border prose-kbd:border-gray-200 dark:prose-kbd:border-gray-800",
				"prose-li:text-gray-500 dark:prose-li:text-gray-400",
				"prose-p:text-gray-500 dark:prose-p:text-gray-400 prose-p:text-justify",
				"prose-pre:rounded-lg",
				"prose-strong:text-gray-800 dark:prose-strong:text-gray-100",
				"prose-td:text-gray-600 dark:prose-td:text-gray-300",
				"prose-thead:border-gray-200 dark:prose-thead:border-gray-800"
			)}>
				<Content />
			</section>
		</article>
	</main>

	<Footer class="max-w-3xl">
		<div class="flex items-center justify-center mt-4 md:block md:order-1 md:mt-0">
			<a
				class='default-focus default-transition group inline-flex items-center justify-center space-x-2 rounded-md px-3 py-1 text-sm font-semibold text-gray-400 bg-white hover:bg-gray-50 dark:bg-gray-950 dark:hover:bg-gray-900 border border-white hover:border-gray-100 dark:border-gray-900 dark:hover:border-gray-800 hover:text-gray-500 dark:hover:text-gray-400'
				href='/'
				data-astro-reload
			>
				<ArrowLeft
					class='w-4 h-4 default-transition transform group-hover:-translate-x-1 group-hover:text-gray-500 dark:group-hover:text-gray-400'
				/>
				<span>Go back</span>
			</a>
		</div>
	</Footer>
</Document>
